.jumbotron
{
    background-color:rgb(27, 27, 27);
    color: azure;
}

.results
{
    border: 2px solid rgb(250, 250, 250);
    
    background-color:rgb(27, 27, 27);
    color: grey;
    margin: 10px;
    height: 30px;
    width: 100%;
}
.card{
    margin: 5px;
    text-align: center;
    background-color:rgb(27, 27, 27);
    color: whitesmoke;
    float: right;
}


body
{
    background-image: url('rainbow-weather.jpg')
} 


.cityName
{
 
    float: right;   
}

#btnSrch{
    border-style: inset;
    background-color:black;
    color:white;
}

.form-control{
    border-style: inset;
    border-color: black;
    float: left;

} */

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px rgb(19, 18, 18);
    transform: translateY(4px);
  }